<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/home.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    <section class="home-section">
        <div class="home-div">
            <h1 class="typeH1">Petersenov graf</h1>
            <div class="fadeDiv">
                <p class="fadeInP">Želiš iskazati ili dopuniti svoje znanje iz teorije grafova i Petersenovog grafa?</p>
                <div class="start-area">
                    <% if( user !== undefined ) {%>
                        <a href="/startQuiz" class="link start-link">
                            <button class="fadeInBtn home-btn">Započni kviz!</button>
                        </a>
                    <% } else {%>
                        <a href="/startQuiz" class="link start-link">
                            <button class="fadeInBtn home-btn" disabled>Započni kviz!</button>
                        </a>
                        <a href="/login" class="link">
                            <p class="fadeInP warning">Prije početka se prijavi kako bi se rezultati spremili!</p>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="leaderboard">
            <% if ((!leaderboard) || (leaderboard.length === 0)) { %>
                <div class="">
                    Nijedan kviz još nije odrađen.
                </div>
            <% } else { %>
                <h2>Rang lista</h2>
                <div class="quizStats">
                    <p class="quiz-stat stat-name">Ime </p>
                    <p class="quiz-stat stat-name">Prezime</p>
                    <p class="quiz-stat stat-name">Bodovi</p>
                    <p class="quiz-stat stat-name">Datum kviza</p>
            </div>
                <% for(let quizStat of leaderboard) { %>
                    <div class="quizStats">
                            <p class="quiz-stat"><%= quizStat.first_name %> </p>
                            <p class="quiz-stat"><%= quizStat.last_name %></p>
                            <p class="quiz-stat"><%= quizStat.bodovi %>/10</p>
                            <p class="quiz-stat"><%= quizStat.datumigre.toISOString().slice(0, 10) %></p>
                    </div>
                    <% } %>
            <% } %>
            
        </div>
    </section>

</main>

</body>

</html>
