<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/login.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="login-section">
            <div class="">
                <form class="login-form" action="/login" method="post">
                    <fieldset class="form-fieldset">
                        <legend class="form-legend">Prijavi se</legend>

                        <div class="label-input">
                            <label class="login-label" for="username">Korisničko ime</label>
                            <input class="login-input" type="text" name="user" id="username"
                                   maxlength="20" minlength="5">
                        </div>

                        <div class="label-input">
                            <label class="login-label" for="password">Lozinka</label>
                            <input class="login-input" type="password" name="password" id="password"
                                   minlength="5">
                        </div>

                        <input class="login-btn" type="submit" value="Prijavi se">
                        
                        <% if (err !== undefined ) { %>
                            <p class="alert"><%= err %></p>
                        <% } %>
                    </fieldset>
                </form>
                <div>
                    <p class="rac">Nemaš korisnički račun? <a class="link log-to-reg" href="/signup">Napravi novi.</a></p>
                </div>
            </div>

    </section>
</main>


</body>

</html>