<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/resultQuiz.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

    <%- include(`partials/header`); %>

    <main class="main">
        <section class="result-section">
            <div class="result-div">
                <div class="nonbtn">
                    <% if(correct > 1){ %>
                        <p>Čestitam <%= user.first_name %>!</p>
                    <% } %>
                    <p>Osvojili ste <%= correct %> od 10 bodova!</p>
                </div>
                <a href="/" class="link">
                    <button class="home-btn">Povratak na glavnu stranicu</button>
                </a>
            </div>
        </section>
    </main>

</body>

</html>