<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/signup.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    <section class="reg-section">
        <div class="">
                <form action="/signup" method="post" class="reg-form">
                    <fieldset class="form-fieldset">
                        <legend class="form-legend">Registriraj se</legend>

                        <div class="label-input">
                            <label class="reg-label" for="username">Korisničko ime</label>
                            <input class="reg-input" type="text" name="username" id="username" maxlength="20"
                                   minlength="3" required>
                        </div>

                        <div class="label-input">
                            <label class="reg-label" for="firstname">Ime</label>
                            <input class="reg-input" type="text" name="firstName" id="firstname"
                                   maxlength="20"
                                   minlength="3" required>
                        </div>

                        <div class="label-input">
                            <label class="reg-label" for="lastname">Prezime</label>
                            <input class="reg-input" type="text" name="lastName" id="lastname"
                                   maxlength="20"
                                   minlength="3" required>
                        </div>


                        <div class="label-input">
                            <label class="reg-label" for="password1">Lozinka</label>
                            <input class="reg-input" type="password" maxlength="20" minlength="8"
                                   id="password1"
                                   name="password1" placeholder="Odaberi nešto sigurno i lako pamtljivo" required>
                        </div>

                        <div class="label-input">
                            <label class="reg-label" for="password2">Potvrdi lozinku</label>
                            <input class="reg-input" type="password" maxlength="20" minlength="8"
                                   id="password2"
                                   name="password2" placeholder="Potvrdi prethodnu lozinku" required>
                        </div>

                        <input class="reg-btn" type="submit" value="Registriraj se">

                        <% if (err !== undefined ) { %>
                            <p class="alert"><%= err %></p>
                        <% } %>

                    </fieldset>
                </form>
            </div>
    </section>
</main>

</body>

</html>
