<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/startQuiz.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/startQuizHeader`); %>

<main class="main">

    <section class="startQuiz-section">
        <div class="timer-div">
            <p class="event-log-contents">Preostalo vrijeme: 30s</p>
        </div>
        <div class="startQuiz-div">
            <h1 class="pitanje"><%= question %></h1>
            <% if(imageUrl !== "nema"){ %>
                <img class="pitanje-slika" src="<%= imageUrl %>">
            <% } %>
            <% if(hint !== "nema"){ %>
                <p class="hint-p" style="display: none;">Hint: <%= hint %></p>
            <% } %> 

            <div class="answers-div">
                <% for(let answer of answers) { %>
                    <% if(answer.is_correct){ %>
                        <button class=" ansButton correctAns" onclick="checkCorrect(1)"><%= answer.answer_text %></button>
                    <% }else { %>
                        <button class="ansButton incorrectAns" onclick="checkCorrect(0)"><%= answer.answer_text %></button>
                    <% } %>
                <% } %>
            </div>

            <p class="netocno" style="display: none;">Netočan odgovor!</p>
            <% if(fact !== "nema"){ %>
                <p class="fact-p" style="display: none;">Edukativna crtica: <%= fact %></p>
            <% } %>
            
            <a href="/startQuiz?isCorrect=yes" class="link correctLink" style="display:none">
                <button class="nextQuestion">Sljedeće pitanje</button>
            </a>
            <a href="/startQuiz?isCorrect=no" class="link incorrectLink" style="display:none">
                <button class="nextQuestion">Sljedeće pitanje</button>
            </a>
        </div>
        <% if(hint !== "nema"){ %>
        <button class="hint-btn" onclick="revealHint()">?</button>
        <% } %>
    </section>

</main>

</body>

</html>

<script>
    //Timer
    let time = 30;
    let timerIntervalId;
    const log = document.querySelector(".event-log-contents");

    function updateTimer(){
        time--;
        if(time > 0){
            log.textContent = "Preostalo vrijeme: " + time + "s";
        }
        else{
            log.textContent = "Vrijeme za odgovaranje je isteklo.";
            if(document.querySelector(".netocno")){
                document.querySelector(".netocno").style.display = "block";
            }
            clearInterval(timerIntervalId);
            checkCorrect(0);
        }
    }

    window.addEventListener("load", (event) => {
        time = 30;
        timerIntervalId = setInterval(updateTimer,1000);
    });

    let toggledHint = false;
    function checkCorrect(chk){
        if(chk){
            let correctBtn = document.querySelectorAll(".correctAns");
            for(let corr of correctBtn){
                corr.style.backgroundColor = "green";
            }
            let answerBtn = document.querySelectorAll(".ansButton");
            for(let btn of answerBtn){
                btn.style.pointerEvents = "none";
            }
            if(document.querySelector(".fact-p")){
                document.querySelector(".fact-p").style.display = "block";
            }
            document.querySelector(".correctLink").style.display = "block";
            if(time > 0 && chk){
                clearInterval(timerIntervalId);
                log.textContent = "Odgovorili ste točno.";
            }
        }
        else{
            let correctBtn = document.querySelectorAll(".correctAns");
            for(let corr of correctBtn){
                corr.style.backgroundColor = "green";
            }
            let answerBtn = document.querySelectorAll(".ansButton");
            for(let btn of answerBtn){
                btn.style.pointerEvents = "none";
            }
            let incorrectBtn = document.querySelectorAll(".incorrectAns");
            for(let inc of incorrectBtn){
                inc.style.backgroundColor = "red";
            }
            if(document.querySelector(".fact-p")){
                document.querySelector(".fact-p").style.display = "block";
            }
            document.querySelector(".incorrectLink").style.display = "block";
            if(time > 0 && !chk){
                clearInterval(timerIntervalId);
                log.textContent = "Odgovorili ste netočno.";
            }
        }
    }
    
    function revealHint(){
        if(toggledHint){
            document.querySelector(".hint-p").style.display = "none";
            toggledHint = false;
        }
        else{
            document.querySelector(".hint-p").style.display = "block";
            toggledHint = true;
        }
    }
</script>