<!DOCTYPE html>
<html>

<head>
    <title>Petersen graf</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/pGraf.svg"/>

    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="stylesheet" type="text/css" href="./styles/user.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

    <%- include(`partials/header`); %>

    <main class="main">
        <section class="user-section">
            <h1 class="user-naslov">Korisničke informacije</h1>
            <div class="user-info-leaderboard">
                <div class="user-info">
                    <div class="info-div">
                        <div class="info-key">
                            Korisničko ime:
                        </div>
                        <div class="info-value">
                            <%= user.user_name %>
                        </div>
                    </div>

                    <div class="info-div">
                        <div class="info-key">
                            Ime:
                        </div>
                        <div class="info-value">
                            <%= user.first_name %>
                        </div>
                    </div>

                    <div class="info-div">
                        <div class="info-key">
                            Prezime:
                        </div>
                        <div class="info-value">
                            <%= user.last_name %>
                        </div>
                    </div>
                            
                </div>

                <div class="user-leaderboard">
                    <% if ((!leaderboard) || (leaderboard.length === 0)) { %>
                        <div class="">
                            <p class="stat-name">Nijedan kviz još nije odigran.</p>
                        </div>
                    <% } else { %>
                        <h2>Odigrani kvizovi:</h2>
                        <div class="quizStats">
                            <p class="quiz-stat stat-name">Ime </p>
                            <p class="quiz-stat stat-name">Prezime</p>
                            <p class="quiz-stat stat-name">Bodovi</p>
                            <p class="quiz-stat stat-name">Datum kviza</p>
                    </div>
                        <% for(let quizStat of leaderboard) { %>
                            <div class="quizStats">
                                    <p class="quiz-stat"><%= quizStat.first_name %> </p>
                                    <p class="quiz-stat"><%= quizStat.last_name %></p>
                                    <p class="quiz-stat"><%= quizStat.bodovi %>/10</p>
                                    <p class="quiz-stat"><%= quizStat.datumigre.toISOString().slice(0, 10) %></p>
                            </div>
                            <% } %>
                    <% } %>
                    
                </div>
            </div>
        </section>
    </main>

</body>

</html>
