body{
    font-family: Arial, Helvetica, sans-serif;
    color: #23272a;
}
.header{
    width: 90%;
    margin-bottom: 20px;
}
.header-menu{
    height: 15vh;
    background-color:#c5c6c7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 35px 0 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.scaled-image{
    height: 13vh;
}
.scaled-image:hover, a:hover, .svg-icon:hover{
    opacity:80%
}
.link{
    text-decoration: none;
    color: #23272a;
    font-weight: 700;
}
.svg-icon{
    width: 10vh;
}
.usr-log-div{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user-part{
    display: flex;
    flex-direction: row;
}