:root {
    --bg-color: #c5c6c7;
    --typewriterSpeed: 4s;
    --typewriterCharacters: 15;
}

body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typeH1 {
  font-size:50px;
  color: #23272a;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

.typeH1::before,
.typeH1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.typeH1::before{
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.typeH1::after{
    width: 0.1em;
    background-color: #23272a;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 1000ms steps(var(--typewriterCharacters)) infinite;
}

.fadeInP {
    color: #23272a;
    font-size: 25px;
    font-weight: 400;
    width: 400px;
    text-align: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
.fadeInBtn{
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
    border: 2px solid #c5c6c7;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
@keyframes typewriter{
    to{
        left: 100%;
    }
}

@keyframes blink{
    to{
        background: transparent;
    }
}

@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.home-div{
    width: 500px;
    height: 480px;
    background: #c5c6c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
.fadeDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.leaderboard{
    opacity: 0;
    transform: translateX(8rem);
    animation: fadeInRight 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
.home-section{
    display: flex;
    flex-direction: row;
    width: 67vw;
    justify-content: space-between;
}
.quizStats{
    color: #c5c6c7;
    height: 50px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #c5c6c7;
}
.quiz-stat{
    width: 6.2vw;
}
.stat-name{
    font-weight: 700;
}
h2{
    color: #c5c6c7;
    height: 40px;
    border-bottom: 3px solid #c5c6c7;
}
.warning{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 100;
    font-size: 15px;
}
.start-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbdddf;
    width: 450px;
    border-radius: 15px;
    opacity: 0;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}