body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-fieldset{
    display: flex;
    height: 260px;
    border-radius: 25px;
    border: 3px solid #c5c6c7;
    color: #c5c6c7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.form-legend{
    padding-top: 10px;
    text-align: center;
    color: #c5c6c7;
    width: 100px;
    height: 30px;
    border: 3px solid #c5c6c7;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.label-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-btn{
    background-color: #c5c6c7;
    width: 100px;
    border-radius: 7px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
}
.login-btn:hover{
    opacity: 80%;
}
.log-to-reg{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.login-input{
    border: 3px solid #c5c6c7;
    border-radius: 10px;
    margin:15px 0 15px 0;
}
.login-label{
    font-weight: 700;
}
.rac{
    color: #c5c6c7;
    text-align: center;
} 
.log-to-reg{
    color: white;
}
.alert{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}