body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border: 3px solid #c5c6c7;
    border-radius: 25px;
    padding: 10px 30px 30px 30px;
    margin-top: 30px;
}
.nonbtn{
    color: #c5c6c7;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.home-btn{
    width: 250px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    border: 2px solid #c5c6c7;
    border-radius: 15px;
}