body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-fieldset{
    display: flex;
    height: 550px;
    width: 350px;
    border-radius: 25px;
    border: 3px solid #c5c6c7;
    color: #c5c6c7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-legend{
    padding-top: 10px;
    text-align: center;
    color: #c5c6c7;
    width: 130px;
    height: 30px;
    border: 3px solid #c5c6c7;
    border-radius: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.label-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reg-label{
    font-weight: 700;
}
.reg-btn{
    background-color: #c5c6c7;
    width: 180px;
    height: 25px;
    text-align: center;
    border-radius: 7px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
}
.reg-btn:hover{
    opacity: 80%;
}
.reg-input{
    border: 3px solid #c5c6c7;
    border-radius: 10px;
    width: 270px;
    margin:15px 0 15px 0;
}
.alert{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}