body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startQuiz-section{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items:center;
}
.startQuiz-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5c6c7;
    border-radius: 10px;
}
.pitanje, .hint-p, .fact-p{
    color: #23272a;
    font-weight: 700;
    width: 400px;
    text-align: center;
    padding: 0 10px 0 10px;
}
.hint-btn{
    color: #23272a;
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 40px;
    left:33%;
    top:22.2%;
    background-color: whitesmoke;
}
.answers-div{
    display:grid;
    grid-template-columns: 200px 200px;
    border-top: 1px solid #23272a;
    border-bottom: 1px solid #23272a;
}
button{
    margin: 20px 12px 20px 12px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid gray;
    border-radius: 15px;
}
button:hover {
    opacity: 80%;
}
.nextQuestion, .ansButton{
    font-size: 20px;
    font-weight: 450;
}
.timer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 5px;
}
.event-log-contents{
    color: #23272a;
    text-align: center;
}
.pitanje-slika{
    width: 300px;
    margin-bottom: 15px;
}