body{
    background: url("../images/bodyBg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c5c6c7;
}
.user-section{
    width: 65vw;
}
.user-naslov{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 33px;
}
.user-info-leaderboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 25vw;
    border: 3px solid #c5c6c7;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.info-key, .stat-name{
    font-weight: 700;
}
.info-key{
    padding-bottom: 8px;
    border-bottom: 1px dashed #c5c6c7;
}
.info-div{
    padding: 10px 0 10px 0;
    border: 2px solid #c5c6c7;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}
.info-value{
    margin-top:8px;
}
.quizStats{
    height: 50px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #c5c6c7;
}
.quiz-stat{
    width: 6.2vw;
}
h2{
    height: 40px;
    border-bottom: 3px solid #c5c6c7;
}